In [1]:
from bs4 import BeautifulSoup as bs
import requests
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [2]:
def car_info(link):
    cars = requests.get(link,'html.parser')
    soup = bs(cars.content)
    coloumns = []
    info = []
    #Getting all the info from the information boxes
    for i in soup.select('th',class_= 'css-1pusycv e155vlc0'):
        coloumns.append(i.text)
    for j in soup.select('td',class_ ='attributes-table-value'):
        info.append(j.get_text('',strip=True))
    dictionary = dict(zip(coloumns,info)) #zipping the file and converting it into dict
    #Getting the price of the car
    price = soup.find(class_ = 'ad-price txt-xlarge txt-emphasis inline-block')
    dictionary['Price'] = price.get_text('',strip=True)
    #Extracting the name of the car
    title = soup.select('h1',class_ ='css-1uk1gs8 e1pt9h6u3')
    title = str(title)
    title = title.split('>')
    dictionary['Name'] = title[1]
    #Extracting the location
    location = soup.find(class_ = 'ad-location truncate-line set-left')
    dictionary['Location'] = location.get_text('',strip = True)
    return dictionary

In [3]:
car_info('https://www.gumtree.com/p/alfa-romeo/alfa-romeo-156-saloon-2003-manual-1747-cc-4-doors/1397076925')

{'Year': '2003',
 'Body type': 'Saloon',
 'Mileage': '124,281miles',
 'Transmission': 'Manual',
 'Brochure Engine size': '1.8L',
 'Fuel type': 'Petrol',
 'Urban mpg': '23.3mpg',
 'Extra Urban mpg': '44.1mpg',
 'Fuel Consumption': '33.2mpg',
 'Insurance Group': '26A',
 'CO2 emissions': '202g/km',
 'Euro Emissions': 'Euro 3',
 'Engine Power': '138.1bhp',
 'Engine size': '1747cc',
 'Acceleration (0-62mph)': '9.4seconds',
 'Top Speed': '129mph',
 'Seats': '5',
 'Doors': '4',
 'Colour': 'Red',
 'Fuel Capacity': '63litres',
 'Luggage Capacity (seats up)': '378litres',
 'Price': 'Â£799.00',
 'Name': 'Alfa Romeo, 156, Saloon, 2003, Manual, 1747 (cc), 4 doors</h1',
 'Location': 'Kingsbury, London'}

In [4]:
cars = requests.get('https://www.gumtree.com/cars/uk?vehicle_seats=5','html.parser')
soup = bs(cars.content)

In [5]:
#Creating a nested list to gather all the arrays to put into
links = [] #Let's gather all the links in this list
baselink = 'www.gumtree.com'
for i in soup.select('article',class_='clearfix list-listing-maxi'):
    link = i.find('a',href=True)
    links.append(baselink+link['href'])

In [32]:
#Creating tabs 
tabs = []#There are alltogether 50 tabs on the whole 5 wheeler cars and 30 sublinks on each of them
for i in range(2,51):
    tabs.append('page{}'.format(i))

In [39]:
pages_base_link = 'https://www.gumtree.com/'
hyperlink = '/cars/uk/page2?vehicle_seats'
all_webpages = []
for i in range(len(tabs)):
    for j in tabs:
        all_webpages.append(hyperlink.replace('page2',j))
all_webpages = all_webpages[:49]
# linked = soup.find('li',class_ = 'pagination-next' )
# listed = str(linked)
# listed = listed.split('>')
# ind_link = listed[1].split(' ')
# ind_link = ind_link[2]
# ind_link = str(ind_link)
# ind_link = ind_link.split('=')
# ind_link = ind_link[1]

In [40]:
all_webpages

['/cars/uk/page2?vehicle_seats',
 '/cars/uk/page3?vehicle_seats',
 '/cars/uk/page4?vehicle_seats',
 '/cars/uk/page5?vehicle_seats',
 '/cars/uk/page6?vehicle_seats',
 '/cars/uk/page7?vehicle_seats',
 '/cars/uk/page8?vehicle_seats',
 '/cars/uk/page9?vehicle_seats',
 '/cars/uk/page10?vehicle_seats',
 '/cars/uk/page11?vehicle_seats',
 '/cars/uk/page12?vehicle_seats',
 '/cars/uk/page13?vehicle_seats',
 '/cars/uk/page14?vehicle_seats',
 '/cars/uk/page15?vehicle_seats',
 '/cars/uk/page16?vehicle_seats',
 '/cars/uk/page17?vehicle_seats',
 '/cars/uk/page18?vehicle_seats',
 '/cars/uk/page19?vehicle_seats',
 '/cars/uk/page20?vehicle_seats',
 '/cars/uk/page21?vehicle_seats',
 '/cars/uk/page22?vehicle_seats',
 '/cars/uk/page23?vehicle_seats',
 '/cars/uk/page24?vehicle_seats',
 '/cars/uk/page25?vehicle_seats',
 '/cars/uk/page26?vehicle_seats',
 '/cars/uk/page27?vehicle_seats',
 '/cars/uk/page28?vehicle_seats',
 '/cars/uk/page29?vehicle_seats',
 '/cars/uk/page30?vehicle_seats',
 '/cars/uk/page31?vehicle_seats',
 '/cars/uk/page32?vehicle_seats',
 '/cars/uk/page33?vehicle_seats',
 '/cars/uk/page34?vehicle_seats',
 '/cars/uk/page35?vehicle_seats',
 '/cars/uk/page36?vehicle_seats',
 '/cars/uk/page37?vehicle_seats',
 '/cars/uk/page38?vehicle_seats',
 '/cars/uk/page39?vehicle_seats',
 '/cars/uk/page40?vehicle_seats',
 '/cars/uk/page41?vehicle_seats',
 '/cars/uk/page42?vehicle_seats',
 '/cars/uk/page43?vehicle_seats',
 '/cars/uk/page44?vehicle_seats',
 '/cars/uk/page45?vehicle_seats',
 '/cars/uk/page46?vehicle_seats',
 '/cars/uk/page47?vehicle_seats',
 '/cars/uk/page48?vehicle_seats',
 '/cars/uk/page49?vehicle_seats',
 '/cars/uk/page50?vehicle_seats']

In [9]:
for i in range(len(tabs)):
    for j in tabs:
        ind_link.replace('page2',j)

AttributeError: 'list' object has no attribute 'replace'

In [10]:
ind_link

['href="', 'cars', 'uk', 'page2?vehicle_seats=5"']